<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:p="http://typo3.org/ns/Evoweb/PackingList/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">

    <ul>
    <f:if condition="{listings}">
        <f:for each="{paginator.paginatedItems}" as="listing">
            <p:cache model="{listing}" type="listing"/>
            <li>
                <f:link.action action="share" arguments="{listing: listing.uid}">{listing.name}</f:link.action>
            </li>
        </f:for>
    </f:if>
    </ul>

    <f:render partial="Utility/Paginator.html" arguments="{pagination: pagination, pages: pages, paginator: paginator}" />

</f:section>

</html>
