<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
    <h3>{listing.name}</h3>
    <ul>
        <f:if condition="{listing.categories}">
            <f:for each="{listing.categories}" as="category">
                <li class="category">{category.name}</li>
                <f:if condition="{category.listItems}">
                    <f:for each="{category.listItems}" as="listItem">
                        <li class="item">{listItem.name}</li>
                    </f:for>
                </f:if>
            </f:for>
        </f:if>

        <f:if condition="{listing.listItems}">
            <li class="category"><f:translate id="unsorted_items"/></li>
            <f:for each="{listing.listItems}" as="listItem">
                <li class="item">{listItem.name}</li>
            </f:for>
        </f:if>
    </ul>
</f:section>

</html>
