<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:p="http://typo3.org/ns/Evoweb/PackingList/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="TwoColumn" />

<f:section name="sidebar">
    <div class="row">
        <h5 class="col s4"><f:translate id="listings"/></h5>
        <div class="col s8">
            <a class="right" href="#"><i class="material-icons">add</i> <f:translate id="new_listing"/></a>
        </div>
    </div>
    <ul>
        <f:if condition="{listings}">
            <f:for each="{listings}" as="listing">
                <f:render section="listing" arguments="{listing: listing}"/>
            </f:for>
        </f:if>
    </ul>


    <div class="row">
        <h5 class="col s12"><f:translate id="listitem"/></h5>
        <div class="col s12"><input id="item_search" type="text" placeholder=""/></div>
    </div>
    <ul>
        <f:if condition="{shelf.listItems}">
            <f:for each="{shelf.listItems}" as="listItem">
                <li>
                    <p:cache model="{listItem}" type="listitem"/>

                    <f:if condition="{listItem.url}">
                        <f:then><a href="{listItem.url}">{listItem.name}</a></f:then>
                        <f:else>{listItem.name}</f:else>
                    </f:if>
                    <span class="right" data-unit="{listItem.unit}">
                        {listItem.weight}<br/>
                        <f:link.action action="deleteItem" arguments="{listItem: listItem.uid}"><i class="material-icons tiny right">close</i></f:link.action>
                    </span>
                </li>
            </f:for>
        </f:if>
    </ul>
</f:section>

<f:section name="content">
    <f:render section="shareModal"/>
</f:section>

<f:section name="listing">
    <p:cache model="{listing}" type="listing"/>
    <li>
        {listing.name}
        <f:if condition="{listing.shared}">
            <f:then><a class="share-link"
                       href="{f:uri.action(action: 'shared', controller: 'Display', absolute: 1, arguments: { listing: listing.uid })}"
                       data-message="{f:translate(id: 'copy_message', arguments: {0: listing.name}) -> f:format.raw()}"
                       data-ok="{f:translate(id: 'share')}"><i class="material-icons tiny right">share</i></a></f:then>
            <f:else><a href="#" class="share-link"
                       data-uri="{f:uri.action(action: 'share', controller: 'Edit', absolute: 1, arguments: { listing: listing.uid })}"
                       data-message="{f:translate(id: 'share_message', arguments: {0: listing.name}) -> f:format.raw()}"
                       data-ok="{f:translate(id: 'share')}"><i class="material-icons tiny right">share</i></a></f:else>
        </f:if>
        <f:link.action action="copy" arguments="{listing: listing.uid}"><i class="material-icons tiny right">content_copy</i></f:link.action>
        <f:link.action action="delete" arguments="{listing: listing.uid}"><i class="material-icons tiny right">close</i></f:link.action>
        <f:link.action action="edit" arguments="{listing: listing.uid}"><i class="material-icons tiny right">edit</i></f:link.action>
    </li>
</f:section>

<f:section name="shareModal">
    <div id="shareModal" class="modal">
        <div class="modal-content">
            <h4><f:translate id="share_listing"/></h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close btn red"><f:translate id="cancel"/></a>
            <a href="#!" class="modal-close btn green" data-action="share"></a>
        </div>
    </div>
</f:section>

</html>
