<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="packinglist_font" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<f:asset.css identifier="packinglist_css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<f:asset.script identifier="packinglist_js" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" />

<f:render section="content" />

</html>
