<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="packinglist_css" href="EXT:packing_list/Resources/Public/Stylesheets/styles.min.css" />
<f:asset.script identifier="packinglist_bundle" src="EXT:packing_list/Resources/Public/JavaScript/bundle.js" />
<f:asset.script identifier="packinglist_app" src="EXT:packing_list/Resources/Public/JavaScript/packing_list.js" />

<div class="container">
    <div class="row">
        <div class="col s4">
            <f:render section="sidebar" optional="true"/>
        </div>
        <div class="col s8">
            <f:render section="content" />
        </div>
    </div>
</div>

</html>
